
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
esp32_marauder/.vscode/settings.json

.gemini/
gha-creds-*.json

# Android build artifacts
MarauderController/.gradle
MarauderController/build
MarauderController/app/build
MarauderController/local.properties
MarauderController/*.log
MarauderController/*.err
MarauderController/*.out
